.about {
    height: 611px;
    
}

.about__container {
    position: relative;
}

.about__pic {
    margin-bottom: 103px;
}

.about__textbox {
    position: absolute;
    top: 99px;
    left: 355px;
    width: 785px;
    height: 455px;
    background: linear-gradient(71.43deg, #8F00FF 0%, #148CFF 100%), #212121;
    border-radius: 5px;
    z-index: 10;
}

.about__textbox .title {
    margin: 70px 601px 37px 81px;
    font-size: 36px;
    line-height: 1.361em;
}

.about__description {
    margin: 0px 203px 43px 81px;
    font-size: 16px;
    line-height: 1.69em;
}

.about__textbox .button {
    margin: 0px 536px 56px 81px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    background: none;
    display: block;
}
