html {
    font-family: "Open Sans";
    font-size: 16px;
}

body, html {
    height: 100%;
}

body {
    color: #fff;
    margin: 0;
}

button {
    border: 0;
    cursor: pointer;
}

* {
    box-sizing: border-box;
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

h1,
h2, 
h3, 
h4, 
h5, 
h6 {
    font-weight: normal;
    margin: 0;
}

p {
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}

a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

.container {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-width: 1141px;
}

/* ------------ */

body {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.42;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button {
    background: transparent;
    border: none;
}

.wrapper {
    overflow: hidden;
    min-height: 100%;
    min-width: 1141px;
}

.wrapper--mainpage {
    background: url("../img/background.png") top center no-repeat;
}

.maincontent--games, .maincontent--reviews {
    color: #000;
}

.button {
    padding: 18px 40px;
    text-transform: uppercase;
    text-align: center;
    width: 168px;
    height: 55px;
    background: #8F00FF;
    border-radius: 5px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.362;
    color: white;
    text-decoration: none;
    align-items: center;
    transition: background-color 1s;
}

.button:hover {
    background: #741BBA;
}

.button--light {
    background: #fff;
    color: #8F00FF;
    border: 1px solid #8F00FF;
}

.button--light:hover {
    color: white;
}
