header {
    
    background: url(../img/background_games_header.png) top center no-repeat;
    color:white;
    margin-bottom: 100px;
}
.header__container{
    height: 412px;
    display: flex;
    flex-direction: column;
    
    
}

.header__first-row {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    margin-bottom: 95px;
}


.logo {
    width: 168px;
    height: 27px;
}

.logo__icon{
    max-width: inherit;
    max-height: inherit;
}

.header .menu {
    width: 365px;
    height: 27px;
    margin-top: 7px;
    margin-left: 21px;
}

.header .menu__list {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}

.menu__item {
    text-decoration: none;
}

.menu__item:last-child {
    margin-right: 0px;
}

.menu__link {
    text-decoration: none;
    text-align: center;
    color: #fff;
    
}

.menu__link:hover{
    color: #8F00FF;
}

.header .contacts {
    margin-top: 6px;
    text-align: right;
}

.contacts__phone {
    font-style: normal;
    font-size: 26px;
    line-height: 16px;
    text-decoration: none;
    color: #FFFFFF;
}

.contacts__info {
    font-style: normal;
    text-decoration: underline;
    font-size: 13px;
    line-height: 12px;
}

.header__maintitle {
    margin-bottom: 104px;
    
}

.header__maintitle h1 {
    width: 201px;
    height: 98px;
    font-weight: bold;
    font-size: 72px;
    line-height: 1.361em;
    
}

.breadcrumbs__list, .breadcrumbs__item {
    display: flex;
    align-items: center;
}

.breadcrumbs__link, .breadcrumbs__separator {
    font-size: 14px;
    line-height: 1.357em;
    color: #9A9A9A;
}

.breadcrumbs__link {
    text-decoration: underline;
}

.breadcrumbs__item:last-child {
    font-weight: bold;
}

.breadcrumbs__separator {
    margin: 0 4px;
}




