header {
    margin-bottom: 128px;
}

.header__container{
    height: 82px;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    
}

.header__left,
.header__right{
    display: flex;
    align-items: flex-start;
}

.header__right {
    justify-content: flex-end;
}


.logo {
    width: 168px;
    height: 27px;
}

.logo__icon{
    max-width: inherit;
    max-height: inherit;
}

.header .menu {
    width: 365px;
    height: 27px;
    margin-top: 7px;
    margin-left: 220px;
}

.header .menu__list {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}

.menu__item {
    text-decoration: none;
}

.menu__item:last-child {
    margin-right: 0px;
}

.menu__link {
    text-decoration: none;
    text-align: center;
    color: #fff;
    transition: color 1s;
}

.menu__link:hover{
    color: #8F00FF;
}

.header .contacts {
    margin-top: 6px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.contacts__phone {
    font-style: normal;
    font-size: 26px;
    line-height: 16px;
    text-decoration: none;
    color: #FFFFFF;
}

.dropdown {
    position: relative;
    margin-top: 7px;
    cursor: pointer;
}

.dropdown:hover .dropdown__container,
.dropdown:hover .dropdown__description,
.dropdown:hover .dropdown__container:before {
    opacity: 1;
}

.dropdown:hover .dropdown__container {
    background: #EDEDED;
}

.dropdown__info {
    font-style: normal;
    text-decoration: underline;
    font-size: 13px;
    line-height: 12px;
}

.dropdown__container {
    opacity: 0;
    position: absolute;
    mix-blend-mode: normal;
    opacity: 0.8;
    padding: 11px 19px 15px;
    text-align: left;
    width: 160px;
    border-radius: 5px;
    top: 190%;
    right: 0;
    transition: opacity 1s, background-color 1s;
}

.dropdown__container:before {
    opacity: 0;
    position: absolute;
    bottom: 99%;
    left: 60%;
    border: 10px solid transparent;
    width: 0;
    height: 0;
    border-bottom-color: #EDEDED;
    content: "";
    transition: opacity 1s;
}

.dropdown__container:after {
    content: "";
    left: 0;
    right: 0;
    position: absolute;
    height: 10px;
    top: -10px;
}

.dropdown__description {
    color: #1E1F20;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 1.62em;
    opacity: 0;
    transition: opacity 1
}

.dropdown__description--bold {
    font-weight: bold;
}

.header__maintitle {
    margin-bottom: 104px;
    
}

.header__maintitle h1 {
    width: 201px;
    height: 98px;
    font-weight: bold;
    font-size: 72px;
    line-height: 1.361em;
    
}

.breadcrumbs__list, .breadcrumbs__item {
    display: flex;
    align-items: center;
}

.breadcrumbs__link, .breadcrumbs__separator {
    font-size: 14px;
    line-height: 1.357em;
    color: #9A9A9A;
}

.breadcrumbs__link {
    text-decoration: underline;
}

.breadcrumbs__item:last-child {
    font-weight: bold;
}

.breadcrumbs__separator {
    margin: 0 4px;
}





