.news {
    height: 549px;
    margin-bottom: 132px;
}

.news .title {
    display: flex;
    align-items: center;
    margin-bottom: 44px;
}

.news .title h2 {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.361em;
    display: flex;
    align-items: center;
    
}

.title--new h2::after {
    content: url("../img/news title.png");
    margin-left: 9px;
    margin-top: 10px;
}

.news__list {
    display: flex;
}
.news__item {
    width: 362px;
    min-height: 449px;
    display: flex;
    flex-direction: column;
    justify-content: center;   
    margin-right: 25px;
}

.news__item:last-child {
    margin-right: 0px;
}

.news__pic-wrapper {
    width: 362px;
    height: 144px;
    border-radius: 5px 5px 0px 0px;
}

.news__pic-wrapper--backto90 {
    background: #010101;
}

.news__pic-wrapper--quizit {
    background: #150A18;
}

.news__pic--backto90 {
    padding: 10px 26px 2px;
}

.news__pic--quizit {
    padding: 1px 20px 0px 21px
}

.news__content {
    width: 362px;
    min-height: 305px;
    color:#000;
    background: #fff;
    border-radius: 0px 0px 5px 5px;
}

.news__title {
    font-weight: bold;
    font-size: 24px;
    line-height: 1,375em;
    padding: 32px 0px 20px 19px;
}

.news__features {
    width: 313px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 25px;
}

.news__feature {
    display: flex;
    height: 26px;
    justify-content: space-between;
    align-items: center;
    margin-right: 5%;
}

.news__feature--min {
    width: 108px;
}   

.news__feature--qa {
    width: 138px;
} 

.news__feature-icon {
    height: 26px;
    width: 26px;
    margin-right: 10px;
    
}

.news__feature-icon--min {   
    background: url("../img/news-clock.png");  
}

.news__feature-icon--qa {   
    background: url("../img/news-qa.png");
}

.news__text {
    font-size: 14px;
    line-height: 1.5em;
    margin: 0 16px 40px 22px;
    
}

.news .button {
    margin-left: 22px;
    padding: 18px 30px;
}

